# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test files
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage*

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

/dist
/vendor

# Docs Site
docs-site/.hugo_build.lock
docs-site/_site
docs-site/resources
docs-site/node_modules/
docs-site/js/coverage/
docs-site/site/.jekyll-cache